
/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin content-box {
	  background: #fff;
	  border: 1px solid #ccc;
	  padding: 10px;
	  border-radius: 6px;
}
  
 
@mixin testbenchdemotheme { 
  .error-label {
	  font-weight: bold;
  }

  .login-view {
	  .login-box {
		  @include content-box;
	  }
  }

  .posts-view {
  	.post {
	  	@include content-box;
  	}  
  }
  
  .other-view {
	  .post {
		  font-size: 100px;
	  }
  }
}
