/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin testbenchdemotheme {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  .post,
  .login-box {
	  background: #fff;
	  border: 1px solid #ccc;
	  padding: 10px;
	  border-radius: 6px;
  }
}
